[submodule "David/Intro-Python-I"]
	path = David/Intro-Python-I
	url = https://github.com/DavidKuseh/Intro-Python-I.git
[submodule "Megan/Intro-Python-I"]
	path = Megan/Intro-Python-I
	url = https://github.com/Megan0145/Intro-Python-I
[submodule "Megan/TK-exercises-1-1"]
	path = Megan/TK-exercises-1-1
	url = https://github.com/Megan0145/TK-exercises-1-1
[submodule "Matt/Intro-Python-I"]
	path = Matt/Intro-Python-I
	url = https://github.com/Lockers/Intro-Python-I
[submodule "James/intro-to-python"]
	path = James/Intro-to-python
	url = https://github.com/jrgrantham/intro-to-python
[submodule "Nurudeen/Intro-Python-I"]
	path = Nurudeen/Intro-Python-I
	url = https://github.com/theallegrarr/Intro-Python-I
[submodule "Temitope/Intro-Python-I"]
	path = Temitope/Intro-Python-I
	url = https://github.com/temitopeakinsoto/Intro-Python-I
[submodule "Victor/Intro-Python-I"]
	path = Victor/Intro-Python-I
	url = https://github.com/VictorArowo/Intro-Python-I
[submodule "David/Intro-Python-II"]
	path = David/Intro-Python-II
	url = https://github.com/DavidKuseh/Intro-Python-II
[submodule "Megan/Intro-Python-II"]
	path = Megan/Intro-Python-II
	url = https://github.com/Megan0145/Intro-Python-II
[submodule "Victor/Intro-Python-II"]
	path = Victor/Intro-Python-II
	url = https://github.com/VictorArowo/Intro-Python-II
[submodule "Nurudeen/Intro-Python-II"]
	path = Nurudeen/Intro-Python-II
	url = https://github.com/theallegrarr/Intro-Python-II
[submodule "Matt/Intro-Python-II"]
	path = Matt/Intro-Python-II
	url = https://github.com/Lockers/Intro-Python-II
[submodule "Temitope/Intro-Python-II"]
	path = Temitope/Intro-Python-II
	url = https://github.com/temitopeakinsoto/Intro-Python-II
[submodule "James/Intro-Python-II"]
	path = James/Intro-Python-II
	url = https://github.com/jrgrantham/Intro-Python-II
[submodule "Victor/tk-assessment-solutions"]
	path = Victor/tk-assessment-solutions
	url = https://github.com/VictorArowo/tk-assessment-solutions
[submodule "Temitope/Sprint-Challenge--Intro-Python"]
	path = Temitope/Sprint-Challenge--Intro-Python
	url = https://github.com/temitopeakinsoto/Sprint-Challenge--Intro-Python/
[submodule "James/Sprint-Challenge--Intro-Python"]
	path = James/Sprint-Challenge--Intro-Python
	url = https://github.com/jrgrantham/Sprint-Challenge--Intro-Python
[submodule "Victor/Sprint-Challenge--Intro-Python"]
	path = Victor/Sprint-Challenge--Intro-Python
	url = https://github.com/victorArowo/Sprint-Challenge--Intro-Python
[submodule "Nurudeen/Sprint-Challenge--Intro-Python"]
	path = Nurudeen/Sprint-Challenge--Intro-Python
	url = https://github.com/theallegrarr/Sprint-Challenge--Intro-Python/
[submodule "Megan/Sprint-Challenge--Intro-Python"]
	path = Megan/Sprint-Challenge--Intro-Python
	url = https://github.com/Megan0145/Sprint-Challenge--Intro-Python/
[submodule "Matt/Sprint-Challenge--Intro-Python"]
	path = Matt/Sprint-Challenge--Intro-Python
	url = https://github.com/Lockers/Sprint-Challenge--Intro-Python/
[submodule "David/Sprint-Challenge--Intro-Python"]
	path = David/Sprint-Challenge--Intro-Python
	url = https://github.com/DavidKuseh/Sprint-Challenge--Intro-Python
[submodule "David/Sorting"]
	path = David/Sorting
	url = https://github.com/DavidKuseh/Sorting
[submodule "James/Sorting"]
	path = James/Sorting
	url = https://github.com/jrgrantham/Sorting.git
[submodule "Matt/Sorting"]
	path = Matt/Sorting
	url = https://github.com/lockers/Sorting.git
[submodule "Megan/Sorting"]
	path = Megan/Sorting
	url = https://github.com/Megan0145/Sorting.git
[submodule "Nurudeen/Sorting"]
	path = Nurudeen/Sorting
	url = https://github.com/theallegrarr/Sorting.git
[submodule "Temitope/Sorting"]
	path = Temitope/Sorting
	url = https://github.com/temitopeakinsoto/Sorting.git
[submodule "Victor/Sorting"]
	path = Victor/Sorting
	url = https://github.com/VictorArowo/Sorting.git
[submodule "Victor/sorting-algorithms"]
	path = Victor/sorting-algorithms
	url = https://github.com/VictorArowo/sorting-algorithms.git
[submodule "victor/Algorithms"]
	path = victor/Algorithms
	url = https://github.com/VictorArowo/Algorithms
[submodule "David/Algorithms"]
	path = David/Algorithms
	url = https://github.com/DavidKuseh/Algorithms
[submodule "Megan/Algorithms"]
	path = Megan/Algorithms
	url = https://github.com/Megan0145/Algorithms
[submodule "Temitope/Algorithms"]
	path = Temitope/Algorithms
	url = https://github.com/temitopeakinsoto/Algorithms
[submodule "Nurudeen/Algorithms"]
	path = Nurudeen/Algorithms
	url = https://github.com/theallegrarr/Algorithms
[submodule "James/Algorithms"]
	path = James/Algorithms
	url = https://github.com/jrgrantham/Algorithms
[submodule "James/Sprint-Challenge--Algorithms"]
	path = James/Sprint-Challenge--Algorithms
	url = https://github.com/jrgrantham/Sprint-Challenge--Algorithms
[submodule "Megan/Sprint-Challenge--Algorithms"]
	path = Megan/Sprint-Challenge--Algorithms
	url = https://github.com/megan0145/Sprint-Challenge--Algorithms
[submodule "Victor/Sprint-Challenge--Algorithms"]
	path = Victor/Sprint-Challenge--Algorithms
	url = https://github.com/victorArowo/Sprint-Challenge--Algorithms
[submodule "James/Data-Structures"]
	path = James/Data-Structures
	url = https://github.com/jrgrantham/Data-Structures
[submodule "David/Data-Structures"]
	path = David/Data-Structures
	url = https://github.com/davidkuseh/Data-Structures
[submodule "Megan/Data-Structures"]
	path = Megan/Data-Structures
	url = https://github.com/megan0145/Data-Structures
[submodule "Nurudeen/Data-Structures"]
	path = Nurudeen/Data-Structures
	url = https://github.com/theallegrarr/Data-Structures
[submodule "Temitope/Data-Structures"]
	path = Temitope/Data-Structures
	url = https://github.com/temitopeakinsoto/Data-Structures
[submodule "Victor/Data-Structures"]
	path = Victor/Data-Structures
	url = https://github.com/victorarowo/Data-Structures
[submodule "Matt/Sprint-Challenge--Algorithms"]
	path = Matt/Sprint-Challenge--Algorithms
	url = https://github.com/Lockers/Sprint-Challenge--Algorithms/
